//Small reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 595px;
  height: 842px;
  border: 2px solid gray;
  margin: 35px auto;
  display: flex;
  background-color: rgb(253, 251, 247);
}
.wrapper-column:first-child {
  max-width: 200px;
  //About section
  .about {
    margin-left: 20px;
    margin-top: 10px;
  }
  .about_name {
    color: rgb(65, 64, 66);
    font-family: Circular Std;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 5px;
    white-space: nowrap;
  }
  .about_proffession {
    color: rgb(65, 64, 66);
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 15px;
  }
  .about_photo {
    display: block;
    width: 132px;
    height: 118px;
    object-fit: contain;
    border: 0;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .your_description {
    color: rgb(65, 64, 66);
    font-family: Roboto;
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: justify;
  }

  //Contact section
  .contact {
  }
  .hr {
    content: "";
    width: 180px;
    height: 1px;
    background: rgb(65, 64, 66);
    object-fit: contain;
  }
  .title {
  }
  .title_logo {
  }
  .title_text {
  }
  .contact-cover {
  }
  .contact_logo {
  }
  .contact_vertical {
    content: "";
    height: 13px;
    width: 0.5px;
    background: rgb(65, 64, 66);
  }
  .contact_text {
  }
}
